
body{
    background-color: #96cfcc;
    max-width: 1500px;
    width: 100%;
    margin: auto;   
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  } 


form{
    display: flex;
    flex-direction: row;
    background-color: #96cfcc;
    height: 500px;
}

.red-field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #be0909;
    color: #ffffff;
    width: 550px;
    padding: 20px;
} 


.orange-field{
    background-color: #FFB039;
    width: 300px;
}

.image-duck{
    width: 520px;
    position: relative;
    top: 60px;
    right: 200px;   
}
