
body{
    background-color: #96cfcc;
    max-width: 1200px;
    width: 100%;
    margin: auto;    
    }


.form-section{
    display: flex;
    flex-direction: row;
    background-color: #96cfcc;
    margin: 10%;
    height: 500px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #be0909;
    width: 600px;
    display: flex;
    flex-direction: column;
} 

.duck{
    background-color: #FFB039;
    width: 350px;
}

.image-duck{
    width: 450px;   
}